/.idea/vcs.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules.xml
/.idea/Build-GPT-2.iml
/.idea/misc.xml
/.idea/.gitignore
/.idea/inspectionProfiles/profiles_settings.xml
/BidirectionalRNN/1_crawled_text.csv
/BidirectionalRNN/2_cleansed_text.csv
/BidirectionalRNN/2_id_text.csv
/BidirectionalRNN/3_spaced_text.csv
/BidirectionalRNN/3_only_text.txt
/BidirectionalRNN/3_spacing_model
/BidirectionalRNN/.ipynb_checkpoints/1_making_id-checkpoint.ipynb
/BidirectionalRNN/.ipynb_checkpoints/2_data_cleansing-checkpoint.ipynb
/BidirectionalRNN/.ipynb_checkpoints/3_spacing-checkpoint.ipynb
/BidirectionalRNN/.ipynb_checkpoints/4_tokenizing-checkpoint.ipynb
